<%- include("partials/header") %>

<div class="newCamp">
	<div class="inner-width">
		<h1>Sign Up</h1>
		<!-- <div class="inner-width-register"> -->
			<form action="/register" method="POST">
				<!-- <input type="text" name="firstName" class="regName" placeholder="First Name">
				<input type="text" name="lastName" class="regName" placeholder="Last Name"> -->
				<input placeholder="Username" class="username" type="text" name="username">
				<input type="password" placeholder="Password" class="password" name="password" minlength="8" maxlength="16">
				<button>Submit</button>
			</form>
		<!-- </div> -->
	</div>
</div>

<%- include("partials/footer") %>